{% extends "base_doctor.html" %}
{% block appointment %} active {% endblock appointment %}
{% load static %}
{% block content %}

<head>
    <link href="{%static 'assets_presc/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>Appointments</title>

    <!-- Bootstrap CSS -->
    <link href="{%static 'assets_appoint/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{%static 'assets_appoint/css/bootstrap-theme.css' %}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{%static 'assets_appoint/css/elegant-icons-style.css' %}" rel="stylesheet" />
    <link href="{%static 'assets_appoint/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{%static 'assets_appoint/css/style.css' %}" rel="stylesheet">
    <link href="{%static 'assets_appoint/css/style-responsive.css' %}" rel="stylesheet" />

    <!-- page start-->

    <!-- <style>
        .show {
            display: block;
        }

        .hide {
            display: none;
        }
    </style> -->

    <script>
                document.getElementById("name_text").value=name;
                document.getElementById("mob_text").value=mob;
                // alert("rowid: " + name +" mob: " + mob); 
                document.getElementById("row_id").value=rowId;

                alert("rowid: " + rowId + "name:" + name +" mob: " + mob);


      function send_data() {
          // document.getElementById("active").disabled = true;
  
          var rowId = event.target.parentNode.parentNode.id;
          //this gives id of tr whose button was clicked 
          var data_name = document.getElementById(rowId).querySelectorAll(".dta");
          // var data_mob = document.getElementById(rowId).querySelectorAll(".dta"); 
          // /*returns array of all elements with  
          // "row-data" class within the row with given id*/ 
  
          var name = data_name[0].innerHTML;
          var mob = data_name[4].innerHTML
          // var date = data[1]; 
          document.getElementById("name_text").value = name;
          document.getElementById("mob_text").value = mob;
          document.getElementById("row_id").value = rowId;
  
          alert("rowid: " + rowId + "name:" + name + " mob: " + mob);
  
          // document.getElementById("warning").disabled = false;
          // document.getElementById('warning').removeAttribute('disabled');
          return true;
      }
  
  
  </script>
</head>

<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="section-title">
                <h2> Appointments </h2>



                <select id='appointment_date'>
                    <option value="1">Today</option>
                    <option value="0">Tomorrow</option>
                </select>

            </div>

            <div id="table_today" class="">
                <table class="table table-striped table-advance table-hover">
                    <tbody>
                        <tr>
                            <th><i class="icon_profile"></i> Full Name</th>
                            <th><i class="icon_calendar"></i> Date</th>
                            <th><i class="icon_mail_alt"></i> Email</th>
                            <th><i class="icon_pin_alt"></i> Time Slot</th>
                            <th><i class="icon_mobile"></i> Mobile</th>
                            <th><i class="icon_cogs"></i> Action</th>
                        </tr>
                        <form method="POST">
                            <input type="hidden" id="name_text" class="form_ip" name="name" />
                            <input type="hidden" id="mob_text" class="form_ip" name="mob" />
                            <input type="hidden" id="row_id" class="form_ip" name="row_id" />

                            {% for data_appoint in today_apppointment %}
                            <tr id="{{forloop.counter}}">
                                <td class="dta">{{data_appoint.patient_id.name}}</td>
                                <td class="dta">{{data_appoint.datepublished}}</td>
                                <td class="dta">{{data_appoint.patient_id.email}}</td>
                                <td class="dta">{{data_appoint.timepublished}}</td>
                                <td class="dta">{{data_appoint.mobile}}</td>
                                <td>

                                    <!-- <div class="btn-group" > -->
                                    <!-- <input type="hidden" id ="url" class="form_ip" name="get_url_address_recording"  /> -->
                                    <!-- <input  id="active" type="submit" onclick="return show() " formaction="/action1.php" ></input> -->
                                    {% csrf_token %}
                                    <button class="icon_plus_alt2" id="active" onclick="return send_data()"
                                        formaction="/start_appointment"></button>
                                    <button class="icon_check_alt2" id="warning" onclick="return send_data()"
                                        formaction="stop_appointment"></button>
                                    <button class="icon_close_alt2" id="absent" onclick="return send_data()"
                                        formaction="no_show_appointment"></button>

                                    <!-- </div> -->
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- </div> -->

                        </form>
                    </tbody>
                </table>
            </div>

            <div id="table_tomorrow" class="">

                <table class="table table-striped table-advance table-hover">
                    <tbody>
                        <tr>
                            <th><i class="icon_profile"></i> Full Name</th>
                            <th><i class="icon_calendar"></i> Date</th>
                            <th><i class="icon_mail_alt"></i> Email</th>
                            <th><i class="icon_pin_alt"></i> Time Slot</th>
                            <th><i class="icon_mobile"></i> Mobile</th>
                            <!-- <th><i class="icon_cogs"></i> Action</th> -->
                        </tr>
                        <form method="POST">
                            <input type="hidden" id="name_text" class="form_ip" name="name" />
                            <input type="hidden" id="mob_text" class="form_ip" name="mob" />
                            <input type="hidden" id="row_id" class="form_ip" name="row_id" />

                            {% for data_appoint in tomorrow_appointment %}
                            <tr id="{{forloop.counter}}">
                                <td class="dta">{{data_appoint.patient_id.name}}</td>
                                <td class="dta">{{data_appoint.datepublished}}</td>
                                <td class="dta">{{data_appoint.patient_id.email}}</td>
                                <td class="dta">{{data_appoint.timepublished}}</td>
                                <td class="dta">{{data_appoint.mobile}}</td>
                                <!-- <td>

                                    {% csrf_token %}
                                    <button class="icon_plus_alt2" id="active" onclick="return send_data()"
                                        formaction="start_appointment"></button>
                                    <button class="icon_check_alt2" id="warning" onclick="return send_data()"
                                        formaction="stop_appointment"></button>
                                    <button class="icon_close_alt2" id="absent" onclick="return send_data()"
                                        formaction="no_show_appointment"></button>

                                </td> -->
                            </tr>
                            {% endfor %}

                        </form>
                    </tbody>
                </table>
            </div>

        </section>
    </div>
</div>

<!-- page end-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="{% static 'js/jquery-input-char-count.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


<script>
$("#table_tomorrow").hide();
    $(document).ready(function () {
        $('#appointment_date').on('change', function () {
            if (this.value == "1") {
                $("#table_today").show();
                $("#table_tomorrow").hide();
            } else {
                $("#table_today").hide();
                $("#table_tomorrow").show();
            }
        });
    });
</script>

<!--main content end-->
{% endblock content %}