{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 style="text-align: center;">Scrapped News</h1>
<table >
    <tr style="text-align: center;">
        <th>Headline</th>
        <th>Summary</th>
        <th>Links</th>
    </tr>
{% for i in data %}

    <tr>
        <td style="padding:0 15px 0 15px;">{{ i.headline }}</td>
        <td style="padding:0 15px 0 15px;">{{ i.summary }}</td>
        <td style="padding:0 15px 0 15px;">{{ i.links }}</td>

    </tr>
{% endfor %}

</table>

{% endblock content %}