{% extends "base.html" %}
{% load static %}
{% block prescription %} active {% endblock prescription %}
{% block content %}
<link href="{%static 'assets_presc/style.css' %}" rel="stylesheet">
<link href="{%static 'assets_presc/styles.css' %}" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  
    <br><br><br><br><br><br><br>
    
    <div class="container">
    <div class="row">
        <div class="col">
          <div class="controls">
            {% csrf_token %}
            <button id="recordButton" class="button">Record</button>
            <button id="pauseButton" class="button" disabled>Pause</button>
            <button id="stopButton" class="button" disabled>Stop</button>
          </div>
      
          <!-- <div id="formats">Format: start recording to see sample rate</div> -->
          <form  method="POST"> 
            <input hidden id ="url" class="form_ip" name="get_url_address_recording"  />
            {% csrf_token %}
            <br>
            <input type="submit" id ="formats" class="form_ip" onclick="fun()" value="Submit Recording">
            <!-- <button id="save" class="form_ip">save</button> -->
          </form>
      
            <p class="para" style=" color: white; font-size: 1.5rem; "><strong >Recordings:</strong></p>
          <!-- <p class="para"></p> -->
            <ol id="recordingsList"></ol>
      
        </div>
        <div class="col">
            <div class="mycontainer">
                <h1 style="text-align: center; color: white;">Prescription</h1>
            
                    <div class="mywebapp"> 
                        <div class="input">
                            <textarea id="textbox" rows="10" class="resizedTextbox" >{{prescription}}</textarea>
                        </div>         
                        <button id="start-btn" title="Start">Confirm</button>
                        <!-- <p id="instructions">Press the Start button</p> -->
                    </div>
                </div>
          
        </div>
      </div>


  <!-- </div> -->
  <!-- <div id="text-control">
    <textarea id="textbox" rows="10" class="resizedTextbox" ></textarea>
  </div> -->

    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  	<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
      <script src="{%static 'assets_presc/script.js' %}"></script>
      <script src="{%static 'assets_presc/app.js' %}"></script>

 
{% endblock content %}