{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style_signin.css' %}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>

                        {% if mssg %}
                        <script>
                            alert("{{mssg}}");
                        </script>
                        {% endif %}
                        
                        <form method="POST" class="register-form" id="register-form" action="register">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name *" required/>
                            </div>

                            <div class="form-group">
                                <label for="gender"><i class="zmdi zmdi-account"></i><b>Gender: </b></label>
                                <!-- <br><br><br> -->

                                <select id="gender" name="gender" style="margin-left: 6em; width:100px; text-align: center;">
                                    <option value="Male"> Male </option>
                                    <option value="Female"> Female </option>
                                    <option value="Others"> Others </option>
                                </select>                            
                            </div>

                            <div class="form-group">
                            <!-- <label for="age"><b>Age</b></label> -->
                            <input type="number" placeholder="Enter Age (in years)*" name="age" min="0" max="99" required>
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="Enter Phone Number*" name="phone" pattern="^[789]\d{9}$" required>
                            </div>

                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" oninput="validateemail()" required/>
                            </div>

                            <div class="form-group">
                                <span id="error_email"></span> 
                            </div>

                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password" required/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" oninput="matchPassword()" required/>
                            </div>
                            
                            <div class = "form-class">
                                <span id="error"></span> 
                            </div>
                        
                        <div class="form-group">
                            <label for="user_role"><i class="zmdi zmdi-account"></i><b>User Role: </b></label>
                            <!-- <br><br><br> -->

                            <select id="user_role" name="user_role" style="margin-left: 6em; width:100px; text-align: center;">
                                <option value="doctor"> Doctor </option>
                                <option value="receptionist"> Receptionist </option>
                                <option value="admin"> Admin </option>
                            </select>                            
                        </div>

                            <!-- <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div> -->
                            <div class="form-group form-button">
                                {% csrf_token %}
                                <input type="submit" name="signup" id="signup" class="form-submit"  value="Register"/>
                            </div>
                        </form>
                        <br>
                        <a href="{% url 'signin' %}" class="signup-image-link">I am already member</a>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'assets/img/departments-1.jpg' %}" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        function matchPassword() {
            var pw1 = document.getElementById("pass");
            var pw2 = document.getElementById("re_pass");
            var error = document.getElementById("error")
            
            if(pw1.value != pw2.value)
            {	
            error.textContent = "Password did not matched" 
            error.style.color = "red" 
            } 
            
            else { 
            error.textContent = "" 
            error.style.color = "green" 

            }
            
        }

        function validateemail(){
            var email = document.getElementById("email");
            var x = email.value
            var atposition=x.indexOf("@");
            var dotposition=x.lastIndexOf(".");
            var error = document.getElementById("error_email")

            if (atposition<1 || dotposition<atposition+2  || dotposition+2>=x.length){
                error.textContent = "Please enter correct Email ID" 
                error.style.color = "red" 
            } 
            
            else { 
                error.textContent = "" 
                error.style.color = "green" 

            }        
        }

        </script>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>